{% load static %}
<div class="place-preview">
    {% if place.image %}
        <img src="{% get_static_prefix %}{{ place.image }}" alt="{{ place.name }}" class="preview-img">
    {% else %}
        <img src="{% static 'sticker.jpg' %}" alt="Place image" class="preview-img">
    {% endif %}

    <h3><a href="{% url 'place_detail' place.id %}">{{ place.name }}</a></h3>
    <p>{{ place.description|truncatewords:12 }}</p>
    <p><strong>Тип:</strong> {{ place.place_type }}</p>
    <p><strong>Локація:</strong> {{ place.location|default:"Secret place👀" }}</p>

    <p><strong>Рейтинг:</strong>
        <span class="stars">
            {% for i in "12345"|make_list %}
                {% if place.rating >= forloop.counter %}
                    ★
                {% elif place.rating > forloop.counter|add:"-1" and place.rating < forloop.counter %}
                    ⯪
                {% else %}
                    ☆
                {% endif %}
            {% endfor %}
        </span>
    </p>
</div>
