{% extends "base.html" %}
{% block content %}
<div class="hero-section">
    <h2>Вітаємо! Тут ви завжди знатимете куди піти!</h2>
    <p>Зберігайте свої улюблені місця для відпочинку, прогулянок чи розваг.</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Куди піти сьогодні?</button>
    </form>

    {% if chosen_place %}
        <div style="margin-top: 2rem;">
            <h3 style="font-size: 1.8rem; color: #4a5568; margin-bottom: 1rem;">Сьогоднішня порада:</h3>
            {% include "places_to_go/_place_preview.html" with place=chosen_place %}
        </div>
    {% endif %}
</div>
{% endblock %}
