{% extends "base.html" %}
{% block content %}
<div class="place-detail" style="background:white; padding:20px; border-radius:8px; box-shadow:0 2px 6px rgba(0,0,0,0.1);">
    <h1>{{ place.name }}</h1>
    <p><strong>Тип:</strong> {{ place.place_type }}</p>
    <p><strong>Локація:</strong> {{ place.location|default:"Secret place👀" }}</p>
    <p><strong>Опис:</strong> {{ place.description }}</p>
    <p><strong>Рейтинг:</strong>
        <span style="color:gold;">
            {% for i in "12345"|make_list %}
                {% if forloop.counter <= place.rating %}
                    ★
                {% else %}
                    ☆
                {% endif %}
            {% endfor %}
        </span>
    </p>
</div>
{% endblock %}
